@import "tailwindcss";
@import "normalize.css";

@theme {
  --breakpoint-*: initial;
  --breakpoint-xs: 500px;
  --breakpoint-sm: 600px;
  --breakpoint-md: 800px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-xs: 500px;


  --color-card: #669bbc;
  --color-image: #457b9d;
}


.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

html {
  height: 100%;
  font-family: Arial;
}

body {
  height: 100%;
  background-color: #e9ecef ;
}

#root {
  height: 100%;

}
